@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Jost', sans-serif;
}

nav{
    z-index: 10001 !important;
}

.gradientBg{
  background: linear-gradient(171.61deg, #EE9AE5 0.53%, #5961F9 38.96%);
}
.gradientBg2{
    background: linear-gradient(90deg, #EE9AE5 0%, #5961F9 102.13%);

}

.btnPrimary{
    @apply py-3 px-8 bg-secondary font-semibold text-white rounded hover:bg-primary transition-all duration-300;
}